.heading {
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5);
  background-color: #1d1e22;
  padding: 10px;
  color: orange;
}
.basic-button {
  cursor: pointer;
  margin: 10px;
  float: left;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 10px;
  background-color: darkgoldenrod;
}
a {
  color: navy;
  font-size: 20px;
}

.define-heading {
  /* background-color: #1d1e22; */
  padding: 5px;
  color: #85144b;
  display: inline;
  font-size: 35px;
  font-weight: 500;
}
.defination {
  background-color: #64b84b;
  margin: 15px;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.4);
}
.explanation {
  background-color: #64b84b;
  margin: 10px;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.define-text {
  font-size: 20px;
  /* display: inline; */
  color: #260216;
  /* color: navy; */
}

.example-image {
  background-color: #cccccc;
  /* background-repeat: no-repeat; */
  height: 500px;
  background-position: center; /* Center the image */
  /* background-repeat: no-repeat;  */
  /* background-size: cover; */
}

.fix {
  border: 1px solid transparent;
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: 0px;
  background-color: #0078d7;
  font-size: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 20px !important;
}
.margin {
  margin-top: 80px;
}
.btn-fixed-left {
  position: fixed;
  top: 6px;
  left: -10px;
  z-index: 99999;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.btn-fixed-right {
  position: fixed;
  top: 6px;
  right: -10px;
  z-index: 99999;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.simple-nav-button {
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 35px;
  /* padding: 10px; */
  background-color: #0078d7;
}
